<h1>Chat</h1>
<hr/>
<div class="app-mensajes" id="app-mensajes">
    <div [ngClass]="{'text-right': _chatService.usuario.uid == chat.uid}" *ngFor="let chat of _chatService.chats">
        <span [ngClass]="{'badge-primary': _chatService.usuario.uid == chat.uid, 'badge-success': _chatService.usuario.uid != chat.uid}" class="badge">
            {{chat.nombre}}
        </span>
        <p>
            {{chat.mensaje}}
        </p>
    </div>
</div>
<input class="form-control text-bottom" type="text" name="mensaje" (keyup.enter)="enviarMensaje()" [(ngModel)]="mensaje" placeholder="Enviar mensaje">